@{
    ViewData["Title"] = "Trang chủ";
}

<div id="toySlider" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="~/images/slider1.jpg" />
        </div>

        <div class="carousel-item">
            <img src="~/images/slider2.jpg" />
        </div>

        <div class="carousel-item">
            <img src="~/images/slider3.jpg" />
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#toySlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#toySlider" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<h3 class="text-center mt-3">Chào mừng đến Toy Store Shop</h3>
